/* global declarations */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;

    border: 1px solid red;

    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: #53b0bd;
    overflow: hidden;
}

p {
    color: white;
    font-size: 1.3em;
}

button {
    outline: none;
    background-color: black;
    color: white;
    font-size: 1.3em;

}

h1, h2 {
    color: darkgreen;
}
/* top bar container */

.top-bar {
    padding: 30px;
    margin: 20px;
    
}


.top-bar p {
    float: right;
    background-color: black;
}

/*----------------- 
--outer container--
------------------ */

.outer-container {
    padding: 10px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-direction: start;
}


/* inner container*/
.inner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    height: 100%;
    width: 50%;
    margin: 0 auto;
    
    
    
}


/* header quiz intro */
.quiz-intro {

}

.btn{
    background: white;
    color: #222;
    font-weight: 500;
    
}
.btn:hover {
    background
}