/* global declarations */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:rgb(7, 1, 1);

    /* border: 1px solid red; */

    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: #53b0bd;
    /* overflow: hidden; */
}

p {
    color: rgb(255, 255, 255);
    font-size: 1.3em;
}

h1 {
    color: rgb(12, 1, 1);
}

h2{
    font-size: 1.3rem;
}
/* top bar container */

.top-bar {
    padding: 30px;
    margin: 20px;
    
}


.top-bar p {
    float: right;
    /* background-color: black; */
}

/*----------------- 
--outer container--
------------------ */

 .outer-container {
    padding: 10px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-direction: start;
}


/* inner container*/
 .inner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: black; */
    height: 50%;
    width: 50%;
    margin: 0 auto; 
 }
    
    
    




/* header quiz intro */
.quiz-intro {
    margin-bottom: auto;
    text-align: center;
    
}


/* buttons and attributes */
.highscores {
    background: white;
    color: #222;
    font-weight: 500;
    border: 1 px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
}

.highscores:hover {
    background: #222;
    color: white;
    transition: all 0.4s;
}

.btn{
    background: white;
    color: #222;
    font-weight: 500;
    border: 1 px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    width: 100%;
    
}
.btn:hover {
    background: #222;
    color: white;
    transition: all 0.4s;

}

#next-btn {
    background: white;
    color: #222;
    font-weight: 500;
    border: 1 px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
}

#next-btn:hover{
    background: #222;
    color: white;
    transition: all 0.4s;

}

#start {
    background: white;
    color: #222;
    font-weight: 500;
    border: 1 px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
}

#start:hover {
    background: #222;
    color: white;
    transition: all 0.4s;

}


.correct {
    background: green;
}

.incorrect {
    background: red;
}

.app h1 {
    text-align: center;
    
    
}

.quiz h2 {
    text-align: center;
}

#app {
    display: none;
}